<app-navbar></app-navbar>
<div class="header_area">
    <header>
        <button class="btn-nice btn-header" style="max-width: 220px;" (click)="onCreateClick()">
            Vytvořit průvodce
        </button>
    </header>
</div>
<div class="container">
    <div *ngIf="items?.length == 0; else tableContent" class="mt-5">
        <h5>Nebyly nelezeni žádní průvodci</h5>
    </div>
    <ng-template #tableContent>
        <table [mfData]="items" [mfSortBy]="'created'" [mfSortOrder]="'asc'" class="table table-main" #mf="mfDataTable">
            <tr class="table-head">
                <th>
                    <app-table-sorter by="id">ID</app-table-sorter>
                </th>
                <th>
                    <app-table-sorter by="name">Jméno</app-table-sorter>
                </th>
                <th>
                    <app-table-sorter by="gender">Pohlaví</app-table-sorter>
                </th>
                <th class="last"></th>
                <th class="last"></th>
            </tr>
            <tr *ngFor='let item of mf.data; let odd = odd; let even = even;' [ngClass]="{ odd: odd, even: even }">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.gender === "man" ? "Muž" : "Žena"}}</td>
                <td>
                    <div class="table-btns">
                        <button (click)="onEditClick(item)" class="btn-corner orange-bg">Upravit
                            </button>
                    </div>
                </td>
                <td>
                    <div class="table-btns">
                        <button (click)="onDeleteClick(item)" class="btn-corner red-bg">Smazat
                            </button>

                    </div>
                </td>
            </tr>
        </table>
    </ng-template>
</div>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>

<ng-template #templateDelete>
    <div class="modal-title">Smazat průvodce</div>
    <div class="modal-text">Opravdu chcete smazat průvodce '{{selected.name}}'?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="btn-corner orange-bg" (click)="onConfirmDelete()">Ano</button>
            </td>
            <td>
                <button class="btn-corner red-bg btn-small" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>



<ng-template #templateEdit>
    <div class="inline-block mt-20">
        <button type="button" class="close mr-2 mt-2" aria-label="Zavřít" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title">{{ selected.id !== undefined ? "Upravit" : "Vytvořit" }}</h3>
    </div>
    <div class="modal-body">
        <form class="m-20" ngNativeValidate #f="ngForm" (ngSubmit)="onSaveClick()">
            <div class="form-group">
                <label class="bold-label" for="partner-name">Jméno</label>
                <input [(ngModel)]="selected.name" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label class="bold-label" for="partner-address">Pohlaví</label>
                <select [(ngModel)]="selected.gender" name='gender' class="form-control">
                    <option value="man">Muž</option>
                    <option value="woman">Žena</option>
                </select>
            </div>
            <div class="form-group">
                <label class="bold-label">Ukázka hlasu</label>
                <app-drag-drop *ngIf='!selected.previewUrl' [disabled]="!!uploadSubject" (changed)='onAddVoicePreviewFile($event, templateErr)'>
                </app-drag-drop>
                <div *ngIf='uploadSubject' class="progress-cont">
                    <div class="progress"
                         [ngStyle]="{width: (uploadSubject | async) + '%'}"></div>
                    {{ uploadSubject | async }} %
                </div>
                <div>
                    <a *ngIf='selected.previewUrl' [href]='selected.previewUrl' target='_blank'>
                        {{selected.previewUrl}}
                    </a>
                </div>
                <div class="center-padding">
                    <button *ngIf='selected.previewUrl' (click)="onRemovePreviewClick()" class="btn-corner red-bg" type='button'>Smazat ukázku
                    </button>
                </div>
            </div>
            <div class="btn-submit center-padding">
                <button class="btn-corner orange-bg" type="submit">Uložit</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="btn-corner orange-bg" (click)="errorModalRef.hide()">Ok</button>
    </div>
</ng-template>

<ng-template #templateConfirmDeletePreview>
    <div class="modal-title">Smazat</div>
    <div class="modal-text">Opravdu chcete smazat ukázku?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="btn-corner orange-bg" (click)="onConfirmDeletePreviewClick()">Ano</button>
            </td>
            <td>
                <button class="btn-corner red-bg btn-small" (click)="modalRefSecondary.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<ng-template #templateConfirmSave>
    <div class="modal-title">Uložit</div>
    <div class="modal-text">Opravdu uložit?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="btn-corner orange-bg" (click)="onConfirmSaveClick()">Ano</button>
            </td>
            <td>
                <button class="btn-corner red-bg btn-small" (click)="modalRefSecondary.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>
