textarea {
    width: 600px;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-top: 16px;
}

h3 {
    text-align: center;
    margin-bottom: 16px;
}

input[type=text], select {
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 100px;
    margin-bottom: 40px;
}

.center {
    margin: auto;
    width: 50%;
    max-width: 300px;
    text-align: center;
}
