<app-navbar></app-navbar>

<div class="mt-5 container">
    <div class="center">
        <label for="language">Jazyk</label>
        <select [ngModel]="selectedLanguage" (ngModelChange)="onChange($event)" id="language" name="language">
            <option *ngFor="let l of languages" [value]="l.value" [label]="l.label">

        </select>
    </div>
    <h3>Obchodní podmínky</h3>
    <textarea [(ngModel)]="termsContent"></textarea>
    <div style="text-align: center">
        <input (click)="saveTermsContent()" type="button" value="Uložit změny" class="btn-corner orange-bg">
    </div>

    <hr>

    <h3>O nás</h3>
    <textarea [(ngModel)]="aboutContent"></textarea>
    <div style="text-align: center">
        <input (click)="saveAboutContent()" type="button" value="Uložit změny" class="btn-corner orange-bg">
    </div>

</div>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{ error }}</div>
    <div class="modal-ok-div">
        <button class="orange-bg btn-corner save-btn" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
