#logo {
    margin-left: 20px;
    margin-right: 0;
    height: 42px;
    width: 42px;
    object-fit: contain;
    border-radius: 8px;
    padding: 0;
}

#navbar-main {
    background-color: #c7f6ff !important;
    border-bottom: 2px solid black;
}

#navbar-text {
    color: black;
}

.nav-item {
    color: black !important;
    opacity: 0.5;
    position: relative;
    top: 1px;
}

.nav-item:hover {
    opacity: 1;
}

.nav-active {
    color: #ff8226 !important;
    opacity: 1;
    font-weight: bold;
}
