<div id="navbar-main" class="navbar navbar-expand-lg navbar-light bg-light top_header">
    <img id="logo" alt="calmio-logo" class="navbar-brand" src="./assets/images/logo_web.jpg">
    <a id="navbar-text" class="navbar-brand ml-20" href="#"><b>Administrace</b></a>
    <button class="navbar-toggler nav-my-btn" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="!login" class="collapse navbar-collapse nav-my-cont" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto h-100">
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/users">
                Uživatelé
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/courses">
                Kurzy
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/meditations">
                Meditace
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/static-files">
                Úprava statických assetů
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/voices">
                Průvodci
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/statistics">
                Statistiky
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/update">
                Aktualizace
            </li>
           <li class="nav-item" routerLinkActive="nav-active" routerLink="/partners">
                Partnerský program
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/notification">
                Notifikace
            </li>
        </ul>
        <button class="logout mr-20" type="submit" (click)="logout()">Odhlásit</button>
    </div>
</div>
