<app-navbar></app-navbar>

<div class="mt-5 container">
    <form ngNativeValidate (ngSubmit)="sendNotification()">
        <div class="form-group">
            <label class="bold-label" for="notification-title">Titulek</label>
            <input class="notification-input form-control" id="notification-title" maxlength="255"
                   [(ngModel)]="notification.title"
                   name="title">
        </div>

        <div class="form-group">
            <label class="bold-label" for="notification-description">Popisek</label>
            <input class="notification-input form-control" id="notification-description"
                   [(ngModel)]="notification.message" name="description">
        </div>

        <div class="form-group">
            <input id="notification-test" type="checkbox" [(ngModel)]="notification.test" name="test">
            <label class="ml-20" for="notification-test">TEST</label>
        </div>

        <div class="btn-submit center">
            <button class="btn btn-corner orange-bg" type="submit">Odeslat</button>
        </div>
    </form>
</div>

<div *ngIf="notifications?.length == 0; else tableContent" class="mt-5 center-padding">
    <h5>Nebyly nelezeny žádné notifikace</h5>
</div>
<ng-template #tableContent>
    <table [mfData]="notifications" [mfSortBy]="'createdAt'" [mfSortOrder]="'desc'" #mf="mfDataTable"
           class="table table-main table-main-small">
        <tr class="table-head">
            <th width="15%">
                <app-table-sorter by="date">Datum</app-table-sorter>
            </th>
            <th width="10%">
                <app-table-sorter by="title">Titulek</app-table-sorter>
            </th>
            <th width="45%">
                <app-table-sorter by="description">Popisek</app-table-sorter>
            </th>
            <th width="10%">
                <app-table-sorter by="test">Test</app-table-sorter>
            </th>

            <th width="5%" class="last"></th>
        </tr>

        <tr *ngFor="let notification of mf.data; let index=index; let odd=odd; let even=even;"
            [ngClass]="{ odd: odd, even: even }">
            <td>{{ notification.createdAt * 1000 | date:'d. M. yyyy HH:mm:ss' }}</td>
            <td>{{ notification.title}}</td>
            <td>{{ notification.message}}</td>
            <td *ngIf="notification.test">Ano</td>
            <td *ngIf="!notification.test">Ne</td>
            <td class="last">
                <div class="table-btns">
                    <button class="btn-corner orange-bg" (click)="repeatNotification(notification, templateRepeat)">
                        Zopakovat
                    </button>
                </div>
            </td>
        </tr>
    </table>
</ng-template>

<ng-template #templateRepeat>
    <div class="inline-block mt-20">
        <button type="button" class="close mr-40" aria-label="Zavřít" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title">Zopakovat notifikaci "{{ titleToRepeat }}"</h3>
    </div>
    <div class="modal-body">
        <form class="m-20" ngNativeValidate #f="ngForm" (ngSubmit)="sendRepeatNotification()">
            <div class="form-group">
                <label class="bold-label" for="notification-repeat-title">Titulek</label>
                <input [(ngModel)]="notificationDuplicate.title" [ngModelOptions]="{standalone: true}"
                       class="form-control"
                       id="notification-repeat-title" required>
            </div>

            <div class="form-group">
                <label class="bold-label" for="notification-repeat-description">Popisek</label>
                <input [(ngModel)]="notificationDuplicate.message" [ngModelOptions]="{standalone: true}"
                       class="form-control"
                       id="notification-repeat-description" required>
            </div>


            <div class="form-group">
                <input id="notification-repeat-test" type="checkbox" [(ngModel)]="notificationDuplicate.test"
                       name="test">
                <label class="ml-20" for="notification-repeat-test">TEST</label>
            </div>


            <div class="btn-submit center-padding">
                <button class="btn-corner orange-bg" type="submit">Uložit</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{ error.message }}</div>
    <div class="modal-error-detail">{{ error.error }}</div>
    <div class="modal-ok-div">
        <button class="orange-bg btn-corner save-btn" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
