<app-navbar></app-navbar>
<div class="mt-5 container course-edit">
    <div class="row">
        <div class="col-auto">
            <h2>Vytvořit kurz</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Titulek:
        </div>
        <div class="col-auto">
            <div class="err-box">
                <input [(ngModel)]="course.name"
                       [ngClass]="{
                            'invalid': requiredFields.name
                        }"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Podtitulek:
        </div>
        <div class="col-auto">
            <input [(ngModel)]="course.subtitle"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Popis:
        </div>
        <div class="col-auto">
            <textarea [(ngModel)]="course.description" rows="5"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Placený:
        </div>
        <div class="col-auto">
            <select [(ngModel)]="course.free">
                <option *ngFor="let option of price" [ngValue]="option.value">{{ option.text }}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            Jazyky:
        </div>
        <div class="col-auto" [ngClass]="{
                            'invalid': requiredFields.language
                        }">
            <div *ngFor="let l of languages">
                <input [(ngModel)]="languagesObject[l.value]" type="checkbox" [value]="l.value">
                <label>{{l.label}}</label>
            </div>
        </div>
    </div>

    <div class="file-chooser-row" class="row">
        <div class="col-2">
            Úvodní foto:
        </div>
        <div class="col-auto">
            <ng-template [ngIf]="course.thumbnail == ''" [ngIfElse]="photo">
                <app-drag-drop (changed)='photoChange($event, templateErr, "photo")'>
                </app-drag-drop>
            </ng-template>
        </div>
        <ng-template #photo>
            <div class="img-container">
                <div>
                    <img id="title-photo" [src]="course.thumbnail">
                </div>
                <div class="remove-button">
                    <button (click)="openRemoveModal('photo', 'úvodní foto')" class="btn-corner red-bg" type='button'>Smazat foto</button>
                </div>
            </div>
        </ng-template>
    </div>

    <hr>

    <div>
        <h3>Přidat lekci</h3>
    </div>
    <div class="lesson-wrapper">
        <form ngNativeValidate #lf="ngForm" (ngSubmit)="addLessonToCourse()">
            <div class="row">
                <div class="col-2">
                    Lekce číslo:
                </div>
                <div class="col-auto" [ngClass]="{
                            'ng-invalid': requiredFields.lesson.order
                        }">
                    <input name="order" [ngClass]="{
                            'invalid': requiredFields.lesson.order
                        }" [(ngModel)]="lesson.order"/>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Popis lekce:
                </div>
                <div class="col-auto">
                    <textarea name="description" [(ngModel)]="lesson.description" rows="5"></textarea>
                </div>
            </div>


            <div class="file-chooser-row row">
                <div class="col-2">
                    Úvodní foto:
                </div>
                <div class="col-auto">
                    <ng-template [ngIf]="lesson.intro.video === ''" [ngIfElse]="intro2">
                        <app-drag-drop (changed)='photoChange($event, templateErr, "intro", -1)'>
                        </app-drag-drop>
                    </ng-template>
                </div>
                <ng-template #intro2>
                    <div class="img-container">
                        <div>
                            <img class="lessonThumb" id="title-photo-3" [src]="lesson.intro.video">
                        </div>
                        <div class="remove-button">
                            <button (click)="openRemoveModal('intro', 'úvodní foto',-1)" class="btn-corner red-bg" type='button'>Smazat foto</button>
                        </div>
                    </div>
                </ng-template>
            </div>


            <div class="row">
                <div class="col-2">
                    Typ lekce:
                </div>
                <div class="col-auto">
                    <select name="type" [(ngModel)]="lesson.type">
                        <option value="audio">Audio</option>
                        <option value="video">Video</option>
                    </select>
                </div>
            </div>
            <div class="row audio-video-row">
                <div class="col-2">
                    Audio / Video:
                </div>
                <div class="col-10">
                    <app-drag-drop [disabled]="workingAdd" (changed)='addLessonFiles($event, templateErr)' [large]='true'>
                    </app-drag-drop>
                </div>
                <div class="col-2">
                </div>
                <div class="col-10 mt-2 mb-2" *ngIf="workingAdd">
                    <div class="progress-cont" [ngStyle]="{width: ((subsjectAdd | async) > 0 ? 100 : 0) + '%'}">
                        <div class="progress"
                             [ngStyle]="{width: ((subsjectAdd | async) < 100 ? (subsjectAdd | async) : 100) + '%'}"></div>
                        {{ activeUpload.currentFileOrder }}/{{activeUpload.totalFiles}}: {{ subsjectAdd | async }} %
                    </div>
                </div>
                <ng-template ngFor let-source [ngForOf]="lesson.source" let-j="index">
                    <div class="audio-video-item col-auto">
                        <div class="title">
                            <a [href]="source.src"
                               target="_blank">{{source.src.slice(source.src.lastIndexOf('/') + 1)}}</a>
                        </div>
                        <div></div>
                        <div class=" voice">
                            <div *ngIf='voiceGenderSelectModel' class="voice-choice">
                                <select [(ngModel)]="voiceGenderSelectModel['X-' + j]" (ngModelChange)="onVoiceGenderChange('X-' + j, source)" [ngModelOptions]="{standalone: true}" class='mr-2'>
                                    <option value="woman">Žena</option>
                                    <option value="man">Muž</option>
                                </select>
                                <select [(ngModel)]="source.lecturer" (ngModelChange)='onSourceVoiceChange(source)' [ngModelOptions]="{standalone: true}">
                                    <option [ngValue]="null"></option>
                                    <option *ngFor="let voice of availableVoices[voiceGenderSelectModel['X-' + j]]" [ngValue]="voice.id">{{ voice.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="time">
                            <input [(ngModel)]="lesson.source[j].title" [ngModelOptions]="{standalone: true}"
                                   [ngClass]="{'invalid': !source.title || source.title === ''}"
                                   placeholder="Délka lekce"
                                   required> minut
                        </div>
                        <div class="btn-remove">
                            <input type="button" (click)="openRemoveModal('removeSource', 'audio/video', j, null)" value="Smazat"
                                   class="btn-corner red-bg">
                        </div>
                    </div>

                </ng-template>

            </div>
            <div style="text-align: right">
                <input type="submit" [disabled]="workingAdd" [ngClass]="{'disabled-bg': workingAdd}"
                       value="Přidat lekci" class="btn-corner orange-bg">
            </div>
        </form>
    </div>

    <hr>
    <h3>Seznam lekcí</h3>

    <div *ngIf="course.lessons.length > 0; else noLessons">
        <div>
            <div *ngFor="let l of course.lessons; let i=index" class="lesson-wrapper">
                <div class="row">
                    <div class="col-2">
                        Lekce číslo:
                    </div>
                    <div class="col-auto" [ngClass]="{
                            'invalid': requiredFields.lessons[i].order
                        }">
                        <input [(ngModel)]="l.order"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        Popis lekce:
                    </div>
                    <div class="col-auto">
                        <textarea [(ngModel)]="l.description" rows="5"></textarea>
                    </div>
                </div>

                <div class="file-chooser-row row">
                    <div class="col-2">
                        Úvodní foto:
                    </div>
                    <div class="col-auto">
                        <ng-template [ngIf]="l.intro.video == ''" [ngIfElse]="intro">
                            <app-drag-drop (changed)='photoChange($event, templateErr, "intro", i)'>
                            </app-drag-drop>
                        </ng-template>
                    </div>
                    <ng-template #intro>
                        <div class="img-container-2">
                            <div class="lessonThumb">
                                <img [src]="l.intro.video">
                            </div>
                            <div class="remove-button">
                                <button (click)="openRemoveModal('intro', 'úvodní foto',  i)" class="btn-corner red-bg" type='button'>Smazat foto

                                </button>
                            </div>
                        </div>
                    </ng-template>
                </div>


                <div class="row">
                    <div class="col-2">
                        Typ lekce:
                    </div>
                    <div class="col-auto">
                        <select [(ngModel)]="l.type">
                            <option value="audio">Audio</option>
                            <option value="video">Video</option>
                        </select>
                    </div>
                </div>
                <div class="row audio-video-row">
                    <div class="col-2">
                        Audio / Video:
                    </div>
                    <div class="col-10">
                        <app-drag-drop [disabled]="subjectLessonArr[i].working" (changed)='addLessonFiles($event, templateErr, i)' [large]='true'>
                        </app-drag-drop>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-10 mt-2 mb-2" *ngIf="subjectLessonArr[i].working">
                        <div class="progress-cont" [ngStyle]="{width: ((getSubject(i) | async) > 0 ? 100 : 0) + '%'}">
                            <div class="progress"
                                 [ngStyle]="{width: ((getSubject(i) | async) < 100 ? (getSubject(i) | async) : 100) + '%'}"></div>
                            {{ activeUpload.currentFileOrder }}/{{activeUpload.totalFiles}}: {{ getSubject(i) | async }} %
                        </div>
                    </div>
                    <ng-template ngFor let-source [ngForOf]="l.source" let-j="index">
                        <div class="audio-video-item col-auto">
                            <div class="title">
                                <a [href]="source.src"
                                   target="_blank">{{source.src.slice(source.src.lastIndexOf('/') + 1)}}</a>
                            </div>
                            <div></div>
                            <div class="voice">
                                <div *ngIf='voiceGenderSelectModel' class="voice-choice">
                                    <select [(ngModel)]="voiceGenderSelectModel[i+'-'+j]" (ngModelChange)="onVoiceGenderChange(i+'-'+j, source)" [ngModelOptions]="{standalone: true}" class='mr-2'>
                                        <option value="woman">Žena</option>
                                        <option value="man">Muž</option>
                                    </select>
                                    <select [(ngModel)]="source.lecturer" (ngModelChange)='onSourceVoiceChange(source)' [ngModelOptions]="{standalone: true}">
                                        <option [ngValue]="null"></option>
                                        <option *ngFor="let voice of availableVoices[voiceGenderSelectModel[i+'-'+j]]" [ngValue]="voice.id">{{ voice.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="time">
                                <input type="text" [(ngModel)]="source.title" [ngModelOptions]="{standalone: true}" placeholder="Délka lekce"> minut
                            </div>
                            <div class="btn-remove">
                                <input type="button" (click)="openRemoveModal('removeSource', 'audio/video', j, i)" value="Smazat"
                                       class="btn-corner red-bg">
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div style="text-align: right">
                    <input (click)="openRemoveModal('removeLesson', 'lekci č.' + l.order, i)" type="button" class="btn-corner red-bg" value="Smazat lekci">
                </div>
            </div>
        </div>
    </div>

    <ng-template #noLessons>
        <h4 style="text-align: center;" class="mt-4">K tomuto kurzu nejsou přidané žádné lekce.</h4>
    </ng-template>


    <hr>
    <div style="text-align: center">
        <input (click)="saveCourse(templateOk)" type="button" value="Uložit" [disabled]="uploading"
               class="btn-corner orange-bg" [ngClass]="{'disabled-bg': uploading}">
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</div>

<ng-template #templateOk>
    <div class="modal-title">Uloženo</div>
    <div class="modal-text">Kurz uložen</div>
    <div class="modal-ok-div">
        <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
            <tr>
                <td>
                    <button class="btn-corner orange-bg btn-large" (click)="close()">Jít na kurzy</button>
                </td>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #templateLessonOk>
    <div class="modal-title">Uloženo</div>
    <div class="modal-text">Lekce úspěšně uložena</div>
    <div class="modal-ok-div">
        <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
            <tr>
                <td>
                    <button class="btn-corner orange-bg" (click)="modalRef.hide()">Ok</button>
                </td>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMsg}}</div>
    <div class="modal-ok-div">
        <button class="btn-corner orange-bg" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>

<ng-template #templateInvalidFormErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">
        <p>Nejsou vyplněna následující povinná pole:</p>
        <ul>
            <li *ngFor="let field of missingValues">{{field}}</li>
        </ul>
    </div>
    <div class="modal-ok-div">
        <button class="btn-corner orange-bg" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>

<ng-template #templateConfirm>
    <div class="modal-title">Smazat</div>
    <div class="modal-text">Opravdu chcete smazat {{ toRemoveText }}?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="btn-corner orange-bg" (click)="removeHandler()">Ano</button>
            </td>
            <td>
                <button class="btn-corner red-bg btn-small" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
