<app-navbar></app-navbar>
<div class="header_area">
    <header>
        <button class="btn-nice btn-header" style="max-width: 220px;" (click)="openModal(true, templateAddEditPartner)">
            Vytvořit partnera
        </button>
    </header>
</div>
<div class="container">
    <div *ngIf="partners?.length == 0; else tableContent" class="mt-5">
        <h5>Nebyly nelezeny žádní partneři</h5>
    </div>
    <ng-template #tableContent>
        <table [mfData]="partners" [mfSortBy]="'created'" [mfSortOrder]="'desc'" class="table table-main" #mf="mfDataTable">
            <tr class="table-head">
                <th>ID</th>
                <th>Název</th>
                <th>Adresa</th>
                <th>Použití</th>
                <th>Konverze</th>
                <th class="last"></th>
                <th class="last"></th>
            </tr>
            <ng-template ngFor let-partner let-even="even" let-odd="odd" let-i="index"
                         [ngForOf]="mf.data">
                <tr [ngClass]="{ odd: odd, even: even }">
                    <td>{{partner.id}}</td>
                    <td>{{partner.name}}</td>
                    <td>{{partner.address}}</td>
                    <td class="text-center">{{partner.usage.total}}</td>
                    <td class="text-center">{{partner.usage.conversions}}</td>
                    <td>
                        <div class="table-btns">
                            <button (click)="modify(partner, templateAddEditPartner)" class="btn-corner orange-bg">Upravit
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="table-btns">
                            <button (click)="deletePartner(partner, templateDeletePartnerConfirm)"
                                    class="btn-corner red-bg">Smazat
                            </button>

                        </div>
                    </td>
                </tr>
                <tr [ngClass]="{ odd: odd, even: even }">
                    <td colspan="7">
                        <div *ngIf="partner.code; else noCode">
                            <table class="table table-bordered sub-table">
                                <thead>
                                <tr class="sub-table-head">
                                    <th>Promo kód</th>
                                    <th>Hodnota kódu</th>
                                    <th>Link</th>
                                    <th>Použití</th>
                                    <th>Konverze</th>
                                    <th class="last"></th>
                                    <th class="last"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{partner.code.name}}</td>
                                    <td>{{partner.code.value}}</td>
                                    <td><a [href]="generateLink(partner)">{{generateLink(partner)}}</a></td>
                                    <td>{{partner.code.usage.total}}</td>
                                    <td>{{partner.code.usage.conversions}}</td>
                                    <td>
                                        <div class="table-btns">
                                            <button (click)="openCodeModal(false, partner, templateAddEditCode)"
                                                    class="btn-corner smaller promo-modify-btn">Upravit
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="table-btns">
                                            <button (click)="deleteCode(partner, templateDeleteCodeConfirm)"
                                                    class="btn-corner smaller promo-remove-btn">Smazat
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                        <ng-template #noCode>
                            <div id="no-code-block" class="center" [ngClass]="{ odd: odd, even: even }">
                                <div class="row">
                                    <p id="no-code-set">Není přiřazen žádný promo kód</p>
                                </div>
                                <div class="row center">
                                    <button class="btn-corner orange-bg"
                                            (click)="openCodeModal(true, partner, templateAddEditCode)"
                                            style="max-width: 220px;">Vytvořit promo kód
                                    </button>
                                </div>
                            </div>
                        </ng-template>

                    </td>

                </tr>
            </ng-template>
        </table>
    </ng-template>
</div>


<ng-template #templateDeletePartnerConfirm>
    <div class="modal-title">Smazat partnera</div>
    <div class="modal-text">Opravdu chcete smazat partnera '{{partnerToDelete.name}}'?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="btn-corner orange-bg" (click)="deletePartnerConfirmed()">Ano</button>
            </td>
            <td>
                <button class="btn-corner red-bg btn-small" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<ng-template #templateDeleteCodeConfirm>
    <div class="modal-title">Smazat promo kód</div>
    <div class="modal-text">Opravdu chcete smazat promo kód '{{partnerCodeEdit.code.name}}' u partnera
        '{{partnerCodeEdit.name}}'?
    </div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="btn-corner orange-bg" (click)="deleteCodeConfirmed()">Ano</button>
            </td>
            <td>
                <button class="btn-corner red-bg btn-small" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="btn-corner orange-bg" (click)="errorModalRef.hide()">Ok</button>
    </div>
</ng-template>


<ng-template #templateAddEditPartner>

    <div class="inline-block mt-20">
        <button type="button" class="close mr-40" aria-label="Zavřít" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title">{{ addEditTitle }}</h3>
    </div>
    <div class="modal-body">
        <form class="m-20" ngNativeValidate #f="ngForm" (ngSubmit)="savePartner(addEditTitle.includes('editovat'))">

            <div class="form-group">
                <label class="bold-label" for="partner-name">Název</label>
                <input [(ngModel)]="partner.name" class="form-control"
                       id="partner-name" name="name" required>
            </div>

            <div class="form-group">
                <label class="bold-label" for="partner-address">Adresa</label>
                <textarea [(ngModel)]="partner.address" name="address"
                          class="form-control" id="partner-address"></textarea>
            </div>

            <div class="btn-submit center-padding">
                <button class="btn-corner orange-bg" type="submit">Uložit</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #templateAddEditCode>

    <div class="inline-block mt-20">
        <button type="button" class="close mr-40" aria-label="Zavřít" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title">{{ addEditCodeTitle }}</h3>
    </div>
    <div class="modal-body">
        <form class="m-20" ngNativeValidate #f="ngForm" (ngSubmit)="saveCode(addEditCodeTitle.includes('Editace'))">

            <div class="form-group">
                <label class="bold-label" for="promo-code-name">Promo kód</label>
                <input [disabled]="addEditCodeTitle.includes('Editace')" [(ngModel)]="code.name" class="form-control"
                       id="promo-code-name" name="name" required>
            </div>

            <div class="form-group">
                <label class="bold-label" for="promo-code-value">Hodnota promo kódu</label>
                <input [(ngModel)]="code.value" name="address"
                       class="form-control" id="promo-code-value" type="number" min="0" required>
            </div>

            <div class="btn-submit center-padding">
                <button class="btn-corner orange-bg" type="submit">Uložit</button>
            </div>
        </form>
    </div>
</ng-template>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
