.sub-table {
    margin-top: 10px;
    margin-bottom: 45px;
    width: 100%;
}

#no-code-set {
    font-size: larger;
}

#no-code-block {
    margin-top: 10px;
    margin-bottom: 45px;
}

.promo-remove-btn {
    background-color: white;
    color: black;
    border: #b02936 solid;
}

.promo-modify-btn {
    background-color: white;
    color: black;
    border: #ff751a solid;
}

.smaller {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
    -o-transform: scale(0.9, 0.9); /* Opera */
    -moz-transform: scale(0.9, 0.9); /* Firefox */
}
