<app-navbar></app-navbar>
<div class="header_area">
    <header>
        <button class="btn-nice btn-header" style="max-width: 250px;" (click)="newMeditation()">Vytvořit meditaci
        </button>
    </header>
</div>
<div class="container">
    <div *ngIf="meditations?.length == 0; else tableContent" class="mt-5">
        <h5>Nebyly nelezeny žádné denní meditace</h5>
    </div>
    <ng-template #tableContent>
        <table class="table table-main">
            <tr class="table-head">
                <th>Foto</th>
                <th>ID</th>
                <th>Název</th>
                <th>Stav</th>
                <th class="last"></th>
            </tr>
            <tr *ngFor="let meditation of meditations; let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
                <td class="imagesTable seg-thumb-cont">
                    <img *ngIf="meditation.thumbnail" alt="meditation-thumb" src="{{meditation.thumbnail}}" class="seg-thumb table-image-preview">
                </td>
                <td>{{meditation.id}}</td>
                <td>{{meditation.name}}</td>
                <td>
                    <div *ngIf='meditation.isTodayDailyMeditation'>
                        Aktivní
                    </div>
                    <div *ngIf='meditation.tomorrowPreferredDailyMeditation'>
                        Naplánováno na zítra
                    </div>
                </td>
                <td>
                    <div class="table-btns">
                        <button (click)="scheduleTomorrow(meditation)" class="btn-corner blue-dark-bg" [disabled]='meditation.tomorrowPreferredDailyMeditation'>Na zítra</button>
                        <button (click)="modify(meditation)" class="btn-corner orange-bg">Upravit</button>
                        <button (click)="delete(meditation, templateConfirm)" class="btn-corner red-bg">Smazat</button>
                    </div>
                </td>
            </tr>
        </table>
    </ng-template>
</div>


<ng-template #templateConfirm>
    <div class="modal-title">Smazat denní meditaci</div>
    <div class="modal-text">Opravdu chcete smazat denní meditaci '{{ meditationToDelete.name }}'?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="btn-corner orange-bg" (click)="deleteConfirmed(templateErr)">Ano</button>
            </td>
            <td>
                <button class="btn-corner red-bg" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="btn btn-success" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>
<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
