.header {
    width: 100%;
    background-color: gray;
    text-align: center;
}

.menu-table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu-button {
    border: 3px solid black;
    background-color: black;
    color: white;
    font-size: 20px;
}
