<app-navbar [login]="true"></app-navbar>
<!-- body login -->
<div class="sign_boxes">
    <div class="sign_tabs">
        <ul>
            <li>
                <div>Přihlášení</div>
            </li>
        </ul>
        <div id="tabs-1" class="sign_tab_content">
            <h3>Prosím přihlašte se</h3>
            <form class="clearfix" id="login_form">
                <p style="display: none;" id="success_message" class="success_message"></p>
                <div class="sign_form">
                    <input type="text" name="email" placeholder="E-mail" [(ngModel)]="userName">
                    <input type="password" name="password" placeholder="Heslo" [(ngModel)]="password">
                </div>

                <p style="display: none;" id="error_message" class="error_message"></p>
                <button (click)="login(template)">Přihlásit</button>
            </form>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-title">Error</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="btn btn-success" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
