:host {
    display: block;
}

.drag-drop-area {
    width: 100%;
    background: white;
    border: 1px solid #dee2e6;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-drop-area--large {
    height: 132px;
}

.drag-drop-area--active {
    border-color: #f1aa5a;
}

input {
    visibility: hidden;
    width: 0px;
    height: 0px;
}
