<div class='drag-drop-area' [class.drag-drop-area--active]='active' [class.drag-drop-area--large]='large === true'>
    <button (click)="onBrowseClick()" class="btn-corner blue-dark-bg" [disabled]='disabled' type='button'>Procházet</button>
    <input type="file" #fileInput (change)="onChange()" value="" multiple>
</div>
