<app-navbar></app-navbar>
<div class="header_area">
    <header>
        <button class="btn-nice btn-header" style="max-width: 220px;" (click)="newCourse()">Vytvořit kurz</button>
    </header>
</div>
<div class="container">
    <div *ngIf="courses?.length == 0; else tableContent" class="mt-5">
        <h5>Nebyly nelezeny žádné kurzy</h5>
    </div>
    <ng-template #tableContent>
        <table class="table table-main">
            <tr class="table-head">
                <th>Foto</th>
                <th>ID</th>
                <th>Název</th>
                <th class="last"></th>
                <th class="last"></th>
            </tr>
            <tr *ngFor="let course of courses; let index=index; let odd=odd; let even=even;"
                [ngClass]="{ odd: odd, even: even }">
                <td class="imagesTable seg-thumb-cont">
                    <img alt="course-thumb" *ngIf="course.thumbnail" src="{{course.thumbnail}}"
                         class="seg-thumb table-image-preview">
                </td>
                <td>{{course.id}}</td>
                <td>{{course.name}}</td>
                <td>
                    <div class="table-btns">
                        <button (click)="modify(course)" class="btn-corner orange-bg">Upravit</button>
                    </div>
                </td>
                <td>
                    <div class="table-btns">
                        <button (click)="delete(course, templateConfirm)" class="btn-corner red-bg">Smazat</button>

                    </div>
                </td>
            </tr>
        </table>
    </ng-template>
</div>


<ng-template #templateConfirm>
    <div class="modal-title">Smazat kurz</div>
    <div class="modal-text">Opravdu chcete smazat kurz '{{courseToDelete.name}}'?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="btn-corner orange-bg" (click)="deleteConfirmed()">Ano</button>
            </td>
            <td>
                <button class="btn-corner red-bg btn-small" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="btn btn-success" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>
<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
