<a style="cursor: pointer" (click)="sort()" class="text-nowrap">
    <ng-content></ng-content>
    <span *ngIf="isSortedByMeAsc" class="ml-5 fa fa-caret-up" aria-hidden="true"></span>
    <span *ngIf="isSortedByMeDesc" class="ml-5 fa fa-caret-down" aria-hidden="true"></span>
    <span *ngIf="!isSortedByMeAsc && !isSortedByMeDesc" class="ml-5 fa fa-sort" aria-hidden="true"></span>
</a>
