<app-navbar></app-navbar>

<div class="container">
    <div *ngIf="users?.length == 0; else tableContent" class="mt-5">
        <h5>Nebyly nalezeni žádní uživatelé</h5>
    </div>
    <ng-template #tableContent>
        <table class="table table-main">
            <thead>
            <tr class="table-head">
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Email</th>
                <th class="last"></th>
                <th class="last"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: total }; let index=index; let odd=odd; let even=even;"
                [ngClass]="{ odd: odd, even: even }">
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.email}}</td>
                <td>
                    <div class="table-btns">
                        <button (click)="modify(user, template)" class="btn-corner orange-bg">Upravit</button>
                    </div>
                </td>
                <td>
                    <div class="table-btns">
                        <button (click)="delete(user, templateConfirm)" class="btn-corner red-bg">Smazat</button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!loading">
            <tr>
                <td colspan="5">
                    <pagination-controls
                        class="pagination-wrap"
                        (pageChange)="onPageChange($event)"
                        previousLabel=""
                        nextLabel=""
                    ></pagination-controls>
                </td>
            </tr>
            </tfoot>
        </table>
    </ng-template>
</div>


<ng-template #templateConfirm>
    <div class="modal-title">Smazat uživatele</div>
    <div class="modal-text">Opravdu chcete smazat uživatele '{{userToDelete.email}}'?</div>
    <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
        <tr>
            <td>
                <button class="btn-corner orange-bg" (click)="deleteConfirmed(templateErr)">Ano</button>
            </td>
            <td>
                <button class="btn-corner red-bg" (click)="modalRef.hide()">Zrušit</button>
            </td>
        </tr>
    </table>
    <div class="modal-ok-div">
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="btn btn-success" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>

<ng-template #template>
    <div class="sign_boxes">
        <div class="sign_tabs">
            <div class="sign_tab_content">
                <h3>Upravit uživatele</h3>
                <form class="clearfix" id="login_form">
                    <div class="sign_form">
                        <input type="text" name="fname" placeholder="First Name" [(ngModel)]="selectedUser.name">
                        <input type="text" name="lname" placeholder="Last Name" [(ngModel)]="selectedUser.surname">
                        <div class="cb-cont mt-2">
                            <label for="cb" class="as-placeholder">Administátor</label>
                            <input (change)="toggleUserRole()" [ngModelOptions]="{standalone: true}" type="checkbox"
                                   name="cb" id="cb" class="cb" [(ngModel)]="adminUser">
                        </div>
                        <div class="cb-cont mt-2">
                            <label for="cb" class="as-placeholder">Testovací účet</label>
                            <input (change)="toggleUserRole()" [ngModelOptions]="{standalone: true}" type="checkbox"
                                   name="cb" id="cb_test" class="cb" [(ngModel)]="testUser">
                        </div>
                    </div>

                    <p style="display: none;" id="error_message" class="error_message"></p>
                    <div class="w-100 align-center mt-4">
                        <button (click)="saveUserModification(templateErr)"
                                class="btn-corner orange-bg no-float">Uložit
                        </button>
                        <button class="btn-corner red-bg ml-20 no-float" (click)="modalRef.hide()">Zavřít
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</ng-template>
<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>
