.save-button {
    margin-top: 20px;
}

.group {
    display: inline-block;
}

input[type=text], select {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

#soft-update {
    margin-top: 15px;
}

#force-update {
    margin-top: 30px;
}
