<app-navbar></app-navbar>

<div *ngIf="!loading" class="mt-5 container">
    <div class="center">
        <h3>Update</h3>
        <div id="soft-update">
            <div>
                Aktuální soft verze: {{versions.latestVersion}}
            </div>

            <div>
                <label for="new-soft-version">Soft verze:</label>
                <input id="new-soft-version" type="text" name="new-soft-version" [(ngModel)]="updatedVersions.latestVersion"/>
            </div>
        </div>

        <div id="force-update">
            <div>
                Aktuální force verze: {{versions.forceUpdateVersion}}
            </div>

            <div>
                <label for="new-force-version">Force verze:</label>
                <input id="new-force-version" type="text" name="new-force-version" [(ngModel)]="updatedVersions.forceUpdateVersion"/>
            </div>
        </div>

    </div>

    <div class="save-button" style="text-align: center">
        <input (click)="sendUpdateNotification(templateNotificationSent)" type="button" value="Odeslat"
               class="btn-corner orange-bg">
    </div>
</div>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>

<ng-template #templateNotificationSent>
    <div class="modal-title">Změna verze</div>
    <div class="modal-text">
        Notifikace byla úspěšně odeslána.<br />
        Nová soft verze: {{updatedVersions.latestVersion ? updatedVersions.latestVersion : versions.latestVersion}} <br />
        Nová force verze: {{updatedVersions.forceUpdateVersion ? updatedVersions.forceUpdateVersion : versions.forceUpdateVersion}}
    </div>
    <div class="modal-ok-div">
        <table style="text-align: center;margin: auto; margin-bottom: 15px; margin-top: 15px; width: 50%">
            <tr>
                <td>
                    <button class="btn-corner orange-bg" (click)="closeModal()">Ok</button>
                </td>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{ errorMessage }}</div>
    <div class="modal-ok-div">
        <button class="btn-corner orange-bg" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>
