.compulsory {
    margin-left: -10px;
}

.photo-buttons {
    padding: 3px;
}

#title-photo {
    width: 200px;
}

.remove-button {
    margin-top: 10px;
    text-align: left;
}

.img-container img,
.img-container .img-button button {
    width: 100%;
}

.file-chooser-row {
    margin-top: 10px;
}

.lessonThumb {
    width: 100px;
    margin-left: 16px;
}

.lessonThumb img {
    width: 100%;
}

.lesson-row {
    margin-top: 10px;
    margin-left: -33px;
}

label {
    margin-left: .5rem;
}

.err-box {
    float: left;
}

li {
    list-style-type: none;
}
