section {
    margin-bottom: 60px;
    margin-top: 5px;
}

.stats-stores-header-wrap h3 {
    display: inline-block;
    margin-bottom: 0;
}

.stats-stores-header-wrap input {
    width: 275px;
    float: right;
    margin-left: auto;
}

.table-stores tr:first-child th {
    border-top: 0;
    border-bottom-width: 2px;
}

.table-stores tr:first-child {
    border-top: 0;
    border-bottom-width: 2px;
    background: #c7f6ff;
}

.table-users > tbody > tr:nth-child(1) th:first-child,
.table-users > tbody > tr:nth-child(2) th:first-child {
    border-right: 0;
}

.row-opener {
    font-size: 27px;
    width: 45px;
    text-align: center;
    padding-left: 10px;
    line-height: 22px;
}

.table-details {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.table-details tr:first-child td {
    font-weight: 700;
}

.table-details tr:first-child td:first-child {
    width: 220px;
}

.pagination-wrap {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.pagination-wrap .page-link {
    color: #16b6d4;
}

.pagination-wrap .disabled .page-link {
    color: gray;
}

.pagination-wrap .active .page-link {
    color: white;
    background-color: #16b6d4;
    border-color: #16b6d4;
}

td.completable {
    background-color: rgb(252, 175, 175);
    text-align: center;
}

td.completable.completed {
    background-color: rgb(168, 255, 168);
}
