<app-navbar></app-navbar>
<div class="header_area">
    <header>
        <button class="btn-nice btn-header" style="max-width: 220px;" (click)="getExport()">Exportovat</button>
    </header>
</div>

<div class="mt-5 container">
    <section>
        <h3>Uživatelé</h3>
        <div *ngIf="userStats?.length == 0; else tableContent">
            <h5>Nebyly nalezeni žádní uživatelé</h5>
        </div>
        <ng-template #tableContent>
            <table class="table table-main table-users" #table>
                <thead>
                <tr class="table-head">
                    <th></th>
                    <th></th>
                    <th>Kurzy</th>
                    <th colspan="2">Lekce</th>
                    <th></th>
                </tr>
                <tr class="table-head">
                    <th></th>
                    <th>Uživatel</th>
                    <th>Dokončené</th>
                    <th>Dokončené</th>
                    <th>Předčasně uk.</th>
                    <th>Promeditováno</th>
                </tr>
                </thead>
                <tbody>
                <ng-template ngFor let-user let-even="even" let-odd="odd" let-i="index"
                             [ngForOf]="userStats | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: total }">
                    <tr [ngClass]="{ odd: odd, even: even }" (click)="toggleCollapse(user, i)">
                        <td *ngIf="user.courses.length > 0"
                            class="row-opener">{{ userPerPageCollapse[i] ? '-' : '+' }}</td>
                        <td *ngIf="user.courses.length === 0"></td>
                        <td>{{user.email}}</td>
                        <td class="align-center">{{user.coursesFinished}} / {{user.coursesSignedIn}}</td>
                        <td class="align-center">{{user.lessonsFinished}} / {{user.lessonsSignedIn}}</td>
                        <td>{{user.lessonsUnfinished}}</td>
                        <td class="align-center">{{user.totalMeditationTime * 1000 | date:'HH:mm:ss':'UTC'}}</td>
                    </tr>

                    <tr *ngIf="userPerPageCollapse[i]">
                        <td colspan="6">
                            <table class="table table-bordered table-details">
                                <ng-template ngFor let-course let-even="even" let-odd="odd"
                                             [ngForOf]="user.courses">
                                    <tr>
                                        <td [rowSpan]="1 + (getLessonRowGroups(course.lessons).length * 2)">{{course.name}}</td>
                                        <td [colSpan]="course.lessons.length">Lekce - čas celkový / poslední
                                            nedokončený
                                        </td>
                                    </tr>
                                    <ng-container
                                        *ngFor="let group of getLessonRowGroups(course.lessons); let groupIndex = index;">
                                        <tr>
                                            <td *ngFor="let lesson of group; let lessonIndex=index" class="completable"
                                                [class.completed]="lesson.completed">{{(groupIndex * 5) + (lessonIndex + 1)}}</td>
                                        </tr>
                                        <tr>
                                            <td *ngFor="let lesson of group; let lessonIndex = index;"
                                                class="completable" [class.completed]="lesson.completed">
                                                {{lesson.lessonTime * 1000 | date:'HH:mm:ss':'UTC'}} / {{ lesson.lessonDurationSeconds * 1000 | date:'HH:mm:ss':'UTC'}}
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-template>
                            </table>
                        </td>
                    </tr>

                </ng-template>
                </tbody>

                <tfoot *ngIf="!loading">
                <tr>
                    <td colspan="6">
                        <pagination-controls
                            class="pagination-wrap"
                            (pageChange)="onPageChange($event)"
                            previousLabel=""
                            nextLabel=""
                        ></pagination-controls>
                    </td>
                </tr>
                </tfoot>
            </table>
        </ng-template>

    </section>

</div>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>


<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="btn btn-success" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>
